{% extends "base_admin.html.twig" %}

{% block title %}
    BlogSymfony | Commentaires
{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="col-6 mx-auto text-center bg-success p-3 text-white mb-3">
            {{ message }}
        </div>
    {% endfor %}
    
    <h1 class="text-center">Liste des Commentaires</h1>

    <table class="table table-striped" id="table-commentaire">
        <thead>
            <tr class="table-success">
            {# colonnes : objet (BackOfficeController) qui contient tout les noms des champs/colonnes de la table sql Article #}
            {% for data in colonnes %}

                {# on exclu la colonne 'id' #}
                {% if data != 'id' %}
                    
                    {# capitalize : filtre Twig permettant de mettre la 1ère de la chaine de caractères en majuscule #}
                    <th class="text-center">{{ data|capitalize }}</th>

                {% endif %}

            {% endfor %}
                <th class="text-center">Article</th>
                <th>Action</th>    
            </tr>
        </thead>
        <tbody>
        {% for data in commentaires %}
            
            <tr>
                <td>{{ data.commentaire }}</td>
                <td>{{ data.auteur }}</td>
                <td>{{ data.date|date('d/m/Y à H:i:s') }}</td>
                <td><a href="{{ path('blog_show', {'id': data.article.id}) }}" class="link-secondary">{{ data.article.titre }}</a></td>

                <td>
                    <a href="{{ path('app_admin_commentaire_update', {'id': data.id}) }}" class="btn btn-success mb-3"><i class="bi bi-pencil-fill"></i></a>

                    <a href="{{ path('app_admin_commentaire_remove', {'id': data.id}) }}" class="btn btn-danger" oneclick="return(confirm('Voulez-vous réellement supprimer l\'article n° {{ data.auteur }}'));"><i class="bi bi-trash-fill"></i></a>
                    </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>    
{% endblock %}