{% extends "base_admin.html.twig" %}

{% block title %}
    BlogSymfony |

    {% if editMode %}
        Modification article
    {% else %}
        Nouvel article
    {% endif %} 
{% endblock %}

{% block body %}
{# {{ dump(formArticle) }}  #}

    <h1 class="text-center">
    {% if editMode %}
        Modification de l'article
    {% else %}
        Création d'un nouvel article
    {% endif %} 
    </h1>

    {{ form_start(formArticle, {'attr': {'class': 'col-7 mx-auto'}}) }}

        {{ form_row(formArticle.titre)}}

        {{ form_row(formArticle.category)}}

        {{ form_row(formArticle.contenu)}}

        {{ form_row(formArticle.photo)}}

        {% if photoActuelle != null %}

            <p>
                <img src="{{ asset('uploads/photos/' ~ photoActuelle) }}" alt="" class="col-12 img-responsive">
            </p>

        {% endif %}

        <button type="submit" class="btn btn-dark my-4">
        {% if editMode %}
            Enregistrer les modifications
        {% else %}
            Enregistrer
        {% endif %} 
         </button>

    {{ form_end(formArticle)}}

{% endblock %}